Repository Brownster/agent-desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ccp-team, @core-maintainers, @config-maintainers, @platform-maintainers, @frontend-team, @docs-team, @infrastructure-team, @aws-specialists, @backend-team, @terraform-specialists, @devops-team, @security-team, @product-managers, @tech-leads, @data-team, @performance-team, @qa-team, @sre-team

docs: Add GitHub-specific README with project status and quick links
  .github/README.md
Owners: @ccp-team, @docs-team

fix: Comprehensive test configuration and TypeScript compilation fixes
  apps/ccp-admin/jest.config.ts
  apps/ccp-admin/src/components/Layout.tsx
  apps/ccp-admin/src/pages/Customers.tsx
  apps/ccp-admin/src/pages/Modules.tsx
Owners: @ccp-team, @qa-team, @frontend-team

fix: Complete test infrastructure overhaul for workspace reliability
  apps/ccp-client/jest.config.ts
  jest.preset.js
  libs/config/src/config.service.spec.ts
  libs/config/src/test-setup.ts
  libs/config/src/test-utils.d.ts
  libs/config/tsconfig.spec.json
  libs/core/tsconfig.spec.json
  libs/logging/src/logger-factory.spec.ts
  libs/logging/src/logger.spec.ts
  libs/logging/src/test-setup.ts
  libs/logging/src/test-utils.d.ts
  libs/logging/src/transports/console.transport.spec.ts
  libs/logging/tsconfig.spec.json
  libs/types/package.json
  libs/types/src/app/customer.types.ts
  libs/types/src/core/module.types.ts
  libs/types/src/index.spec.ts
  libs/types/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.json
Owners: @ccp-team, @qa-team, @config-maintainers, @core-maintainers, @platform-maintainers, @sre-team

feat(logging): implement dynamic log level updates
  libs/logging/src/logger-factory.spec.ts
  libs/logging/src/logger-factory.ts
  libs/logging/src/logger.spec.ts
  libs/logging/src/logger.ts
Owners: @ccp-team, @platform-maintainers, @sre-team

fix(jest): resolve libraries
  jest.preset.js
Owners: @ccp-team

chore: update eslint extends
  .eslintrc.json
Owners: @ccp-team

refactor(logging tests): use ts imports
  libs/logging/jest.config.ts
  libs/logging/src/logger-factory.spec.ts
  libs/logging/src/logger-factory.ts
  libs/logging/src/logger.spec.ts
  libs/logging/src/logger.ts
  libs/logging/src/transports/console.transport.spec.ts
  libs/logging/src/transports/console.transport.ts
  libs/logging/test-types.ts
  libs/types/src/core/config.types.ts
Owners: @ccp-team, @platform-maintainers, @sre-team, @core-maintainers

feat: Add comprehensive test suite for ConnectService with 36 passing tests
  README.md
  apps/ccp-client/jest.config.ts
  apps/ccp-client/src/services/connect.service.test.ts
  apps/ccp-client/src/services/connect.service.ts
  apps/ccp-client/tsconfig.spec.json
  docs/COMPONENTS.md
Owners: @ccp-team, @docs-team, @qa-team, @frontend-team

feat(config): enforce websocket queue size
  libs/config/src/config.service.ts
  libs/config/src/config.websocket.spec.ts
  libs/config/src/config.websocket.ts
Owners: @ccp-team, @config-maintainers, @tech-leads, @qa-team

feat: implement real dynamodb operations
  infrastructure/lambda/config-api/index.ts
  libs/config/src/config.store.spec.ts
  libs/config/src/config.store.ts
Owners: @ccp-team, @backend-team, @qa-team, @config-maintainers

test: add module loader and health checker tests
  libs/core/src/__tests__/modules/good-module.js
  libs/core/src/__tests__/modules/invalid-module.js
  libs/core/src/__tests__/modules/slow-module.js
  libs/core/src/module-health.spec.ts
  libs/core/src/module-loader.spec.ts
Owners: @ccp-team, @core-maintainers, @qa-team

chore(config): add newline at EOF
  libs/config/src/config.websocket.ts
Owners: @ccp-team, @config-maintainers

fix(config): handle missing module config
  libs/core/src/module-registry.spec.ts
  libs/core/src/module-registry.ts
Owners: @ccp-team, @qa-team, @core-maintainers, @tech-leads

docs(config): document websocket queue size
  libs/config/README.md
Owners: @ccp-team, @docs-team

Add nx eslint plugin
  package.json
  pnpm-lock.yaml
Owners: @ccp-team, @core-maintainers

feat(config): validate websocket queue size
  libs/config/src/config.websocket.spec.ts
  libs/config/src/config.websocket.ts
Owners: @ccp-team, @qa-team, @config-maintainers

fix tests
  libs/config/src/config.service.spec.ts
  libs/config/src/config.service.ts
  libs/config/src/config.store.spec.ts
  libs/config/src/config.store.ts
  libs/config/src/config.websocket.ts
  libs/core/src/base-module.spec.ts
  libs/core/src/module-registry.spec.ts
Owners: @ccp-team, @qa-team, @config-maintainers, @tech-leads

Fix base module tests and disable ts-jest diagnostics
  libs/core/jest.config.ts
  libs/core/src/base-module.spec.ts
Owners: @ccp-team, @qa-team

chore: adjust types to match definitions
  libs/config/src/config.service.ts
  libs/config/src/config.store.spec.ts
  libs/config/src/config.store.ts
  libs/config/src/config.websocket.ts
  libs/types/src/app/deployment.types.ts
  libs/types/src/index.ts
  package.json
  pnpm-lock.yaml
Owners: @ccp-team, @config-maintainers, @tech-leads, @qa-team, @core-maintainers

fix websocket service types
  libs/config/src/config.websocket.spec.ts
  libs/config/src/config.websocket.ts
Owners: @ccp-team, @qa-team, @config-maintainers

test: pass ConfigChangeEvent fields in module registry tests
  libs/core/src/module-registry.spec.ts
Owners: @ccp-team, @qa-team

fix: align TestModule with IModule
  libs/core/src/module-health.spec.ts
Owners: @ccp-team, @qa-team

feat(config): implement full dynamodb store
  libs/config/src/config.store.ts
Owners: @ccp-team, @config-maintainers

chore: remove unused aliases
  tsconfig.base.json
Owners: @ccp-team, @core-maintainers

fix(config): allow readonly arrays in business rule validation
  libs/config/src/config.validator.ts
Owners: @ccp-team, @config-maintainers

feat: add customer-info module
  jest.config.ts
  libs/customer-info/.babelrc
  libs/customer-info/.eslintrc.json
  libs/customer-info/README.md
  libs/customer-info/jest.config.ts
  libs/customer-info/package.json
  libs/customer-info/project.json
  libs/customer-info/src/index.ts
  libs/customer-info/src/lib/customer-info.module.ts
  libs/customer-info/src/lib/customer-info.spec.tsx
  libs/customer-info/src/lib/customer-info.tsx
  libs/customer-info/tsconfig.json
  libs/customer-info/tsconfig.lib.json
  libs/customer-info/tsconfig.spec.json
  libs/customer-info/vite.config.ts
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @ccp-team, @qa-team, @docs-team, @frontend-team, @performance-team, @core-maintainers

feat: implement comprehensive API service layer with testing
  apps/ccp-admin/README.md
  apps/ccp-admin/jest.config.ts
  apps/ccp-admin/src/__mocks__/@aws-sdk/client-dynamodb.ts
  apps/ccp-admin/src/__mocks__/@aws-sdk/lib-dynamodb.ts
  apps/ccp-admin/src/__mocks__/@tanstack/react-query-devtools.ts
  apps/ccp-admin/src/__mocks__/config.ts
  apps/ccp-admin/src/main.tsx
  apps/ccp-admin/src/providers/APIProvider.tsx
  apps/ccp-admin/src/providers/__tests__/APIProvider.integration.test.tsx
  apps/ccp-admin/src/services/api/__tests__/base.api.test.ts
  apps/ccp-admin/src/services/api/__tests__/customers.api.test.ts
  apps/ccp-admin/src/services/api/analytics.api.ts
  apps/ccp-admin/src/services/api/base.api.ts
  apps/ccp-admin/src/services/api/customers.api.ts
  apps/ccp-admin/src/services/api/index.ts
  apps/ccp-admin/src/services/api/modules.api.ts
  apps/ccp-admin/src/services/config/api.config.ts
  apps/ccp-admin/src/services/errors/api.errors.ts
  apps/ccp-admin/src/services/errors/index.ts
  apps/ccp-admin/src/services/index.ts
  apps/ccp-admin/src/services/queries/__tests__/customers.queries.test.tsx
  apps/ccp-admin/src/services/queries/analytics.queries.ts
  apps/ccp-admin/src/services/queries/customers.queries.ts
  apps/ccp-admin/src/services/queries/index.ts
  apps/ccp-admin/src/services/queries/modules.queries.ts
  apps/ccp-admin/src/services/types/api.types.ts
  apps/ccp-admin/src/services/types/index.ts
  apps/ccp-admin/src/services/types/responses.types.ts
  apps/ccp-admin/src/services/websocket/__tests__/websocket.service.test.ts
  apps/ccp-admin/src/services/websocket/index.ts
  apps/ccp-admin/src/services/websocket/realtime.hooks.ts
  apps/ccp-admin/src/services/websocket/websocket.service.ts
  apps/ccp-admin/src/test-setup.ts
  apps/ccp-admin/tsconfig.spec.json
  docs/API_SERVICE_LAYER.md
Owners: @ccp-team, @docs-team, @qa-team, @backend-team, @data-team, @frontend-team

fix(types): re-export branded utility types
  libs/types/src/index.ts
Owners: @ccp-team, @core-maintainers

fix: resolve TypeScript compilation errors across projects
  apps/ccp-admin/src/services/types/responses.types.ts
  apps/ccp-admin/src/services/websocket/__tests__/websocket.service.test.ts
  apps/ccp-admin/src/services/websocket/realtime.hooks.ts
  apps/ccp-admin/src/services/websocket/websocket.service.ts
  apps/ccp-admin/src/test-setup.ts
  apps/ccp-client/src/components/AgentStatus.test.tsx
  apps/ccp-client/src/components/AgentStatus.tsx
  apps/ccp-client/src/services/connect.service.ts
  apps/ccp-client/src/store/agent.store.ts
  apps/ccp-client/src/store/contact.store.ts
  apps/ccp-client/src/utils/time.test.ts
  libs/config/project.json
  libs/core/project.json
  libs/logging/project.json
  libs/types/project.json
  libs/types/src/index.ts
Owners: @ccp-team, @frontend-team, @qa-team, @config-maintainers, @core-maintainers, @platform-maintainers, @sre-team

docs: update development docs and roadmap
  CLAUDE.md
  README.md
  ROADMAP.md
  libs/customer-info/README.md
Owners: @ccp-team, @core-maintainers, @docs-team

fix(logging): resolve type-check errors
  libs/logging/src/logger.ts
  libs/logging/src/test-setup.ts
  libs/logging/src/transports/cloudwatch.transport.ts
  libs/logging/src/transports/console.transport.ts
  libs/logging/src/transports/file.transport.ts
  libs/logging/tsconfig.lib.json
  libs/logging/tsconfig.spec.json
Owners: @ccp-team, @platform-maintainers, @sre-team

feat(infrastructure): add deployment scripts
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  apps/ccp-admin/package.json
  apps/ccp-client/package.json
  docs/deployment.md
  infrastructure/scripts/deploy-static.sh
Owners: @ccp-team, @devops-team, @frontend-team, @docs-team, @infrastructure-team

feat(admin): implement comprehensive Module Configuration system
  apps/ccp-admin/package.json
  apps/ccp-admin/src/pages/Modules.tsx
  apps/ccp-admin/src/pages/__tests__/Modules.test.tsx
Owners: @ccp-team, @frontend-team, @qa-team

test: add coverage for audio configuration
  README.md
  apps/ccp-client/jest.config.ts
  apps/ccp-client/package.json
  apps/ccp-client/src/__mocks__/amazon-connect-rtc-js.ts
  apps/ccp-client/src/services/connect.service.test.ts
  apps/ccp-client/src/services/connect.service.ts
  docs/COMPONENTS.md
  libs/config/src/index.ts
  libs/types/src/app/customer.types.ts
  libs/types/src/index.spec.ts
  libs/types/src/index.ts
Owners: @ccp-team, @docs-team, @qa-team, @frontend-team, @config-maintainers, @core-maintainers

feat(admin): implement comprehensive Branding Management system
  apps/ccp-admin/src/App.tsx
  apps/ccp-admin/src/components/Sidebar.tsx
  apps/ccp-admin/src/pages/Branding.tsx
  apps/ccp-admin/src/pages/__tests__/Branding.test.tsx
  apps/ccp-admin/src/services/api/branding.api.ts
  apps/ccp-admin/src/services/api/index.ts
  apps/ccp-admin/src/services/queries/branding.queries.ts
  apps/ccp-admin/src/services/queries/index.ts
Owners: @ccp-team, @frontend-team, @tech-leads, @qa-team

chore: add local rtc stub for tests
  apps/ccp-client/package.json
  libs/amazon-connect-rtc-js/README.md
  libs/amazon-connect-rtc-js/jest.config.ts
  libs/amazon-connect-rtc-js/package.json
  libs/amazon-connect-rtc-js/project.json
  libs/amazon-connect-rtc-js/src/index.ts
  libs/amazon-connect-rtc-js/tsconfig.json
  libs/amazon-connect-rtc-js/tsconfig.lib.json
  libs/amazon-connect-rtc-js/tsconfig.spec.json
  pnpm-lock.yaml
Owners: @ccp-team, @frontend-team, @docs-team, @qa-team

docs: update development docs and roadmap
  CLAUDE.md
  README.md
  ROADMAP.md
  libs/customer-info/README.md
Owners: @ccp-team, @core-maintainers, @docs-team

fix: improve jest configs and export util functions
  libs/amazon-connect-rtc-js/jest.config.ts
  libs/config/jest.config.ts
  libs/logging/jest.config.ts
  libs/types/jest.config.ts
  libs/types/src/index.ts
Owners: @ccp-team, @qa-team, @platform-maintainers, @sre-team, @core-maintainers

docs(admin): describe API-based data loading
  CHANGELOG.md
  apps/ccp-admin/README.md
  apps/ccp-admin/src/pages/Customers.tsx
  apps/ccp-admin/src/pages/Dashboard.tsx
Owners: @ccp-team, @docs-team, @frontend-team

feat(admin): complete module configuration interface
  apps/ccp-admin/src/pages/Modules.tsx
Owners: @ccp-team, @frontend-team

.github/CODEOWNERS:

# Global code owners
* @ccp-team

# Core libraries - require approval from core team
/libs/core/ @ccp-team @core-maintainers
/libs/types/ @ccp-team @core-maintainers

# Configuration library - require approval from config team
/libs/config/ @ccp-team @config-maintainers

# Logging library - require approval from platform team
/libs/logging/ @ccp-team @platform-maintainers

# Applications
/apps/ccp-admin/ @ccp-team @frontend-team
/apps/ccp-client/ @ccp-team @frontend-team
/apps/ccp-docs/ @ccp-team @docs-team

# Infrastructure - require approval from infrastructure team
/infrastructure/ @ccp-team @infrastructure-team
/infrastructure/aws-cdk/ @ccp-team @infrastructure-team @aws-specialists
/infrastructure/lambda/ @ccp-team @backend-team
/infrastructure/terraform/ @ccp-team @infrastructure-team @terraform-specialists
/infrastructure/docker/ @ccp-team @devops-team

# CI/CD workflows - require approval from DevOps team
/.github/workflows/ @ccp-team @devops-team
/.github/dependabot.yml @ccp-team @devops-team

# Security-sensitive files - require approval from security team
/SECURITY.md @ccp-team @security-team
/.github/workflows/security.yml @ccp-team @security-team

# Documentation - docs team can approve
/docs/ @ccp-team @docs-team
/README.md @ccp-team @docs-team
/**/README.md @ccp-team @docs-team

# Configuration files - require core team approval
/package.json @ccp-team @core-maintainers
/tsconfig.base.json @ccp-team @core-maintainers
/nx.json @ccp-team @core-maintainers
/pnpm-workspace.yaml @ccp-team @core-maintainers
/.nvmrc @ccp-team @core-maintainers

# Project management and development guidelines
/CLAUDE.md @ccp-team @core-maintainers
/.roadmap/ @ccp-team @product-managers

# Specific high-impact files that need extra review
/apps/ccp-admin/src/App.tsx @ccp-team @frontend-team @tech-leads
/apps/ccp-client/src/App.tsx @ccp-team @frontend-team @tech-leads
/libs/core/src/module-registry.ts @ccp-team @core-maintainers @tech-leads
/libs/config/src/config.service.ts @ccp-team @config-maintainers @tech-leads

# AWS-specific files need AWS specialists
**/cdk.json @ccp-team @infrastructure-team @aws-specialists
**/aws-*.yml @ccp-team @infrastructure-team @aws-specialists
**/*cloudformation* @ccp-team @infrastructure-team @aws-specialists

# Lambda functions need backend team approval
/infrastructure/lambda/**/*.ts @ccp-team @backend-team
/infrastructure/lambda/**/*.js @ccp-team @backend-team
/infrastructure/lambda/**/package.json @ccp-team @backend-team

# Database and data-related changes
**/*dynamo* @ccp-team @backend-team @data-team
**/*database* @ccp-team @backend-team @data-team
**/*migration* @ccp-team @backend-team @data-team

# Performance-critical files
**/*performance* @ccp-team @performance-team
**/*optimization* @ccp-team @performance-team
**/vite.config.ts @ccp-team @frontend-team @performance-team
**/webpack.config.js @ccp-team @frontend-team @performance-team

# Testing files - QA team should be involved
**/*.test.ts @ccp-team @qa-team
**/*.test.tsx @ccp-team @qa-team
**/*.spec.ts @ccp-team @qa-team
**/*.spec.tsx @ccp-team @qa-team
**/jest.config.ts @ccp-team @qa-team
**/playwright.config.ts @ccp-team @qa-team
**/*e2e* @ccp-team @qa-team

# Security scanning and audit files
**/.snyk @ccp-team @security-team
**/sonar-project.properties @ccp-team @security-team
**/*security* @ccp-team @security-team
**/*audit* @ccp-team @security-team

# Monitoring and observability
**/*monitoring* @ccp-team @platform-maintainers @sre-team
**/*observability* @ccp-team @platform-maintainers @sre-team
**/*metrics* @ccp-team @platform-maintainers @sre-team
**/*logging* @ccp-team @platform-maintainers @sre-team
