Repository Brownster/agent-desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ccp-team, @core-maintainers, @config-maintainers, @platform-maintainers, @frontend-team, @docs-team, @infrastructure-team, @aws-specialists, @backend-team, @terraform-specialists, @devops-team, @security-team, @product-managers, @tech-leads, @data-team, @performance-team, @qa-team, @sre-team

.github/CODEOWNERS:

# Global code owners
* @ccp-team

# Core libraries - require approval from core team
/libs/core/ @ccp-team @core-maintainers
/libs/types/ @ccp-team @core-maintainers

# Configuration library - require approval from config team
/libs/config/ @ccp-team @config-maintainers

# Logging library - require approval from platform team
/libs/logging/ @ccp-team @platform-maintainers

# Applications
/apps/ccp-admin/ @ccp-team @frontend-team
/apps/ccp-client/ @ccp-team @frontend-team
/apps/ccp-docs/ @ccp-team @docs-team

# Infrastructure - require approval from infrastructure team
/infrastructure/ @ccp-team @infrastructure-team
/infrastructure/aws-cdk/ @ccp-team @infrastructure-team @aws-specialists
/infrastructure/lambda/ @ccp-team @backend-team
/infrastructure/terraform/ @ccp-team @infrastructure-team @terraform-specialists
/infrastructure/docker/ @ccp-team @devops-team

# CI/CD workflows - require approval from DevOps team
/.github/workflows/ @ccp-team @devops-team
/.github/dependabot.yml @ccp-team @devops-team

# Security-sensitive files - require approval from security team
/SECURITY.md @ccp-team @security-team
/.github/workflows/security.yml @ccp-team @security-team

# Documentation - docs team can approve
/docs/ @ccp-team @docs-team
/README.md @ccp-team @docs-team
/**/README.md @ccp-team @docs-team

# Configuration files - require core team approval
/package.json @ccp-team @core-maintainers
/tsconfig.base.json @ccp-team @core-maintainers
/nx.json @ccp-team @core-maintainers
/pnpm-workspace.yaml @ccp-team @core-maintainers
/.nvmrc @ccp-team @core-maintainers

# Project management and development guidelines
/CLAUDE.md @ccp-team @core-maintainers
/.roadmap/ @ccp-team @product-managers

# Specific high-impact files that need extra review
/apps/ccp-admin/src/App.tsx @ccp-team @frontend-team @tech-leads
/apps/ccp-client/src/App.tsx @ccp-team @frontend-team @tech-leads
/libs/core/src/module-registry.ts @ccp-team @core-maintainers @tech-leads
/libs/config/src/config.service.ts @ccp-team @config-maintainers @tech-leads

# AWS-specific files need AWS specialists
**/cdk.json @ccp-team @infrastructure-team @aws-specialists
**/aws-*.yml @ccp-team @infrastructure-team @aws-specialists
**/*cloudformation* @ccp-team @infrastructure-team @aws-specialists

# Lambda functions need backend team approval
/infrastructure/lambda/**/*.ts @ccp-team @backend-team
/infrastructure/lambda/**/*.js @ccp-team @backend-team
/infrastructure/lambda/**/package.json @ccp-team @backend-team

# Database and data-related changes
**/*dynamo* @ccp-team @backend-team @data-team
**/*database* @ccp-team @backend-team @data-team
**/*migration* @ccp-team @backend-team @data-team

# Performance-critical files
**/*performance* @ccp-team @performance-team
**/*optimization* @ccp-team @performance-team
**/vite.config.ts @ccp-team @frontend-team @performance-team
**/webpack.config.js @ccp-team @frontend-team @performance-team

# Testing files - QA team should be involved
**/*.test.ts @ccp-team @qa-team
**/*.test.tsx @ccp-team @qa-team
**/*.spec.ts @ccp-team @qa-team
**/*.spec.tsx @ccp-team @qa-team
**/jest.config.ts @ccp-team @qa-team
**/playwright.config.ts @ccp-team @qa-team
**/*e2e* @ccp-team @qa-team

# Security scanning and audit files
**/.snyk @ccp-team @security-team
**/sonar-project.properties @ccp-team @security-team
**/*security* @ccp-team @security-team
**/*audit* @ccp-team @security-team

# Monitoring and observability
**/*monitoring* @ccp-team @platform-maintainers @sre-team
**/*observability* @ccp-team @platform-maintainers @sre-team
**/*metrics* @ccp-team @platform-maintainers @sre-team
**/*logging* @ccp-team @platform-maintainers @sre-team

test: add assets api lambda tests
  README.md
  docs/deployment.md
  infrastructure/aws-cdk/lib/config-api-stack.ts
  infrastructure/lambda/assets-api/index.spec.ts
  infrastructure/lambda/assets-api/index.ts
  infrastructure/lambda/assets-api/jest.config.ts
  infrastructure/lambda/assets-api/package.json
  infrastructure/lambda/assets-api/tsconfig.json
  infrastructure/lambda/assets-api/tsconfig.spec.json
Owners: @ccp-team, @docs-team, @infrastructure-team, @aws-specialists, @qa-team, @backend-team

fix(tests): adjust setup for jest
  jest.setup.js
  libs/core/README.md
  libs/core/jest.config.ts
  libs/core/src/module-registry.ts
  libs/core/templates/index.ts
  libs/core/templates/module-template.ts
Owners: @ccp-team, @docs-team, @qa-team, @core-maintainers, @tech-leads

feat(config): add dynamodb store, websocket updates, rollback
  README.md
  libs/config/README.md
  libs/config/src/config.service.ts
  libs/config/src/config.store.spec.ts
  libs/config/src/config.store.ts
Owners: @ccp-team, @docs-team, @config-maintainers, @tech-leads, @qa-team

feat(admin): connect branding page to configuration api
  apps/ccp-admin/src/pages/Branding.tsx
  apps/ccp-admin/src/pages/__tests__/Branding.test.tsx
  apps/ccp-admin/src/services/api/assets.api.ts
  apps/ccp-admin/src/services/api/index.ts
  apps/ccp-admin/src/services/queries/__tests__/branding.queries.test.tsx
  apps/ccp-admin/src/services/queries/branding.queries.ts
Owners: @ccp-team, @frontend-team, @qa-team

feat(api): log errors to external service
  apps/ccp-admin/src/providers/APIProvider.tsx
Owners: @ccp-team, @frontend-team

feat(rtc): add event handling to SoftphoneRTCSession
  apps/ccp-client/src/__mocks__/amazon-connect-rtc-js.ts
  libs/amazon-connect-rtc-js/README.md
  libs/amazon-connect-rtc-js/src/index.ts
Owners: @ccp-team, @frontend-team, @docs-team

refactor: expose ContactInfo entry point
  apps/ccp-client/package.json
  apps/ccp-client/src/index.ts
  libs/customer-info/README.md
  libs/customer-info/jest.config.ts
  libs/customer-info/src/lib/customer-info.module.ts
  libs/customer-info/src/lib/customer-info.tsx
  tsconfig.base.json
Owners: @ccp-team, @frontend-team, @docs-team, @qa-team, @core-maintainers

chore: apply MIT license across packages
  apps/ccp-admin/README.md
  infrastructure/lambda/assets-api/package.json
  libs/amazon-connect-rtc-js/package.json
  libs/config/README.md
  libs/customer-info/package.json
  libs/logging/README.md
  package.json
Owners: @ccp-team, @docs-team, @backend-team, @platform-maintainers, @sre-team, @core-maintainers

build: output compiled js for rtc library
  libs/amazon-connect-rtc-js/package.json
  libs/amazon-connect-rtc-js/tsconfig.lib.json
Owners: @ccp-team

feat(core): implement persistent module registry
  libs/core/README.md
  libs/core/src/__tests__/modules/dependent-version-module.js
  libs/core/src/__tests__/modules/good-module-v2.js
  libs/core/src/base-module.ts
  libs/core/src/index.ts
  libs/core/src/module-loader.ts
  libs/core/src/module-registry.spec.ts
  libs/core/src/module-registry.ts
  libs/core/src/registry/module-registry.service.ts
  libs/core/templates/module-template.ts
  package.json
  pnpm-lock.yaml
  tools/module-publish.ts
Owners: @ccp-team, @docs-team, @core-maintainers, @qa-team, @tech-leads

chore(infra): add deployment scripts
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  README.md
  docs/deployment.md
  infrastructure/aws-cdk/project.json
  infrastructure/scripts/package-lambdas.sh
  package.json
  pnpm-workspace.yaml
  scripts/deploy-infra.sh
Owners: @ccp-team, @devops-team, @docs-team, @infrastructure-team, @aws-specialists, @core-maintainers

docs: add chat integration plan
  docs/chat-integration-plan.md
Owners: @ccp-team, @docs-team

feat(chat): integrate chat service
  README.md
  apps/ccp-client/src/components/ChatInterface.tsx
  apps/ccp-client/src/services/chat.service.test.ts
  apps/ccp-client/src/services/chat.service.ts
  apps/ccp-client/src/services/connect.service.ts
  docs/COMPONENTS.md
  infrastructure/lambda/chat-token/index.ts
  infrastructure/lambda/chat-token/package.json
  libs/amazon-connect-chat-js/jest.config.ts
  libs/amazon-connect-chat-js/package.json
  libs/amazon-connect-chat-js/project.json
  libs/amazon-connect-chat-js/src/index.ts
  libs/amazon-connect-chat-js/tsconfig.json
  libs/amazon-connect-chat-js/tsconfig.lib.json
  libs/amazon-connect-chat-js/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
Owners: @ccp-team, @docs-team, @frontend-team, @qa-team, @backend-team, @core-maintainers

fix(tests): resolve test failures after repository update
  libs/config/src/config.service.spec.ts
  libs/config/src/test-setup.ts
  libs/core/jest.config.ts
  libs/core/src/__tests__/modules/slow-module.js
  libs/core/src/module-health.spec.ts
  libs/core/src/module-loader.spec.ts
  libs/core/src/module-loader.ts
  libs/core/tsconfig.spec.json
Owners: @ccp-team, @qa-team, @config-maintainers, @core-maintainers

docs: add comprehensive system documentation
  docs/BRANDING_MANAGEMENT.md
  docs/MODULE_CONFIGURATION.md
Owners: @ccp-team, @docs-team

chore: update lockfile
  pnpm-lock.yaml
Owners: @ccp-team

feat(core): support esm in module registry
  libs/core/src/registry/module-registry.service.spec.ts
  libs/core/src/registry/module-registry.service.ts
Owners: @ccp-team, @qa-team, @core-maintainers

fix(config): import WebSocket
  libs/config/package.json
  libs/config/src/config.websocket.ts
  libs/config/src/test-setup.ts
  pnpm-lock.yaml
Owners: @ccp-team, @config-maintainers

fix(logging): use context field
  apps/ccp-admin/src/services/websocket/websocket.service.ts
Owners: @ccp-team, @frontend-team

fix: remove unused variables
  apps/ccp-admin/src/__mocks__/@aws-sdk/client-dynamodb.ts
  apps/ccp-admin/src/__mocks__/@aws-sdk/lib-dynamodb.ts
  apps/ccp-admin/src/pages/Branding.tsx
  apps/ccp-admin/src/pages/Modules.tsx
  apps/ccp-admin/src/pages/__tests__/Branding.test.tsx
  apps/ccp-admin/src/pages/__tests__/Modules.test.tsx
  apps/ccp-admin/src/services/api/__tests__/base.api.test.ts
Owners: @ccp-team, @backend-team, @data-team, @frontend-team, @qa-team

fix(admin): update icon type for heroicons
  apps/ccp-admin/src/components/Sidebar.tsx
  apps/ccp-admin/src/pages/Settings.tsx
Owners: @ccp-team, @frontend-team

fix: handle optional logo dimensions
  apps/ccp-admin/src/pages/Branding.tsx
Owners: @ccp-team, @frontend-team

fix: update StatCard icon type
  apps/ccp-admin/src/pages/Dashboard.tsx
Owners: @ccp-team, @frontend-team

fix: add react-query devtools
  apps/ccp-admin/package.json
  pnpm-lock.yaml
Owners: @ccp-team, @frontend-team

fix: ensure Switch checked prop is boolean
  apps/ccp-admin/src/pages/Modules.tsx
Owners: @ccp-team, @frontend-team

chore(nx): build deps before type-check
  nx.json
Owners: @ccp-team, @core-maintainers

fix: add override modifiers
  apps/ccp-admin/src/providers/APIProvider.tsx
Owners: @ccp-team, @frontend-team

feat(admin): expose API context
  apps/ccp-admin/src/providers/APIProvider.tsx
  apps/ccp-admin/src/providers/__tests__/APIProvider.integration.test.tsx
Owners: @ccp-team, @frontend-team, @qa-team

feat(ccp-admin): add API context provider
  apps/ccp-admin/src/providers/APIProvider.tsx
Owners: @ccp-team, @frontend-team

fix: use type-only imports in admin api tests
  apps/ccp-admin/src/services/api/__tests__/base.api.test.ts
Owners: @ccp-team, @qa-team

refactor: mock axios in customer api tests
  apps/ccp-admin/src/services/api/__tests__/customers.api.test.ts
Owners: @ccp-team, @qa-team

fix: correct audit log pagination types
  apps/ccp-admin/src/services/api/analytics.api.ts
  apps/ccp-admin/src/services/api/base.api.ts
Owners: @ccp-team, @frontend-team

chore(ccp-admin): add vite env types
  apps/ccp-admin/tsconfig.json
Owners: @ccp-team, @frontend-team

fix(config): include test setup file in tsconfig
  libs/config/tsconfig.spec.json
Owners: @ccp-team, @config-maintainers

chore(core): add TestUtils typing for tests
  libs/core/src/test-utils.d.ts
Owners: @ccp-team, @core-maintainers

fix: correct start commands and test setup
  .github/README.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  apps/ccp-client/jest.config.ts
  apps/ccp-client/package.json
  apps/ccp-client/src/components/AgentStatus.test.tsx
  apps/ccp-client/src/services/connect.service.test.ts
  package.json
Owners: @ccp-team, @docs-team, @core-maintainers, @qa-team, @frontend-team
